*.iml
.gradle
/local.properties
/.idea
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
/.claude
.externalNativeBuild
.cxx
local.properties

# Project exclude paths
/core/common/build/
/core/common/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/core/data/build/
/core/data/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/core/database/build/
/core/database/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/core/datastore/build/
/core/datastore/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/core/domain/build/
/core/domain/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/core/model/build/
/core/network/build/
/core/network/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/core/player/build/
/core/player/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/core/ui/build/
/feature/auth/build/
/feature/auth/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/feature/chat/build/
/feature/discover/build/
/feature/discover/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/feature/home/build/
/feature/home/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/feature/player/build/
/feature/playlist/build/
/feature/profile/build/
/feature/search/build/
/feature/social/build/